---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == 'blank' %}
        <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}
        {{ site.last_name }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </h1>
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <article>
    {% if page.profile %}
      <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
        {% if page.profile.image %}
          {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
          {% if page.profile.image_circular %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
          {% else %}
            {% assign profile_image_class = 'img-fluid z-depth-1
      rounded' %}
          {% endif %}
          {% capture sizes %}(min-width: {{ site.max_width }}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px)
      30vw, 95vw"{% endcapture %}
          {%
            include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=page.profile.image
            cache_bust=true
          %}
        {% endif %}
        {% if page.profile.more_info %}
          <div class="more-info">{{ page.profile.more_info }}</div>
        {% endif %}
        {%- comment -%}  {%- endcomment -%}
        <div class="social">
          <div class="contact-icons">{% include social.liquid %}</div>
        </div>
        {%- comment -%}  {%- endcomment -%}
      </div>
    {% endif %}

    <div class="clearfix">{{ content }}</div>

    <!-- News -->
    {% if page.news and site.announcements and site.announcements.enabled %}
      <h2>
        <a href="{{ '/news/' | relative_url }}" style="color: inherit">News</a>
      </h2>
      {% include news.liquid limit=true %}
    {% endif %}

    <!-- Latest posts -->
    {% if site.latest_posts and site.latest_posts.enabled %}
      <h2>
        <a href="{{ '/blog/' | relative_url }}" style="color: inherit">latest posts</a>
      </h2>
      {% include latest_posts.liquid %}
    {% endif %}

    <!-- Selected papers -->
    {% if page.selected_papers %}
      <div id="publications">
        <h2>
          <a href="{{ '/publications/' | relative_url }}" style="color: inherit">Publications</a>
        </h2>
        {% include selected_papers.liquid %}
      </div>
    {% endif %}

    <!-- Social -->
    {% if page.social %}
      <div class="social">
        <div class="contact-icons">{% include social.liquid %}</div>
        <div class="contact-note">{{ site.contact_note }}</div>
      </div>
    {% endif %}

    {% if site.newsletter and site.newsletter.enabled and site.footer_fixed %}
      {% include newsletter.liquid center=true %}
    {% endif %}

    {%- comment -%} Awards {%- endcomment -%}
    <h2>
      <a style="color: inherit">Awards</a>
    </h2>
    <ul style="list-style: none; padding: 0; margin-top: 0.rem;">
      <li style="padding: 0.3rem; margin-bottom: 0.rem; border-left: 3px; border-radius: 4px;">
        {%- comment -%} <a href="#" style="text-decoration: none; color: inherit;"> {%- endcomment -%}
        UW ECE Research Showcase Best Demo Award sponsored by Apple (2025)
        {%- comment -%} </a> {%- endcomment -%}
      </li>
      <li style="padding: 0.3rem; margin-bottom: 0.rem; border-left: 3px; border-radius: 4px;">
        <a href="https://www.t-mobile.com/news/network/2024-t-challenge-winners" style="text-decoration: none; color: inherit;">
          T-Mobile T-Challenge - AI for Telecommunications Finalist & Most Engaging Presentation Award (2024)
        </a>
      </li>
      <li style="padding: 0.3rem; margin-bottom: 0.rem; border-left: 3px; border-radius: 4px;">
        <a href="https://sensys.acm.org/2022/award/" style="text-decoration: none; color: inherit;"> ACM Sensys 2022 Best Demo Runner-up (2022) </a>
      </li>
    </ul>

    {%- comment -%} Teaching {%- endcomment -%}
    <h2>
      <a style="color: inherit">Teaching</a>
    </h2>
    <ul style="list-style: none; padding: 0; margin-top: 0.rem;">
      <li style="padding: 0.3rem; margin-bottom: 0.rem; border-left: 3px; border-radius: 4px;">
        {%- comment -%} <a href="#" style="text-decoration: none; color: inherit;"> {%- endcomment -%}
        UW EE 419/565 Computer Communication Networks - Teaching Assistant (Spring 2025)
        {%- comment -%} </a> {%- endcomment -%}
      </li>
      <li style="padding: 0.3rem; margin-bottom: 0.rem; border-left: 3px; border-radius: 4px;">
        {%- comment -%} <a href="#" style="text-decoration: none; color: inherit;"> {%- endcomment -%}
        UW EE 417/506 Modern Wireless Communications - Teaching Assistant (Winter 2025)
        {%- comment -%} </a> {%- endcomment -%}
      </li>
      <li style="padding: 0.3rem; margin-bottom: 0.rem; border-left: 3px; border-radius: 4px;">
        {%- comment -%} <a href="#" style="text-decoration: none; color: inherit;"> {%- endcomment -%}
        UW EE 215 Fundamentals of Electrical Engineering - Teaching Assistant (Winter 2024)
        {%- comment -%} </a> {%- endcomment -%}
      </li>
    </ul>
    {%- comment -%}
      <ul>
        <li>UW EE 215 Fundamentals of Electrical Engineering (TA)</li>
        <li>UW EE 506 Fundamentals of Wireless Communication (TA)</li>
        <li>UW EE 419/565 Computer Communication Networks (TA)</li>
      </ul>
    {%- endcomment -%}
  </article>
</div>
